<!DOCTYPE html>
<html lang="da">
<head>

  <!--
  Welcome!
  If your are reading this text, you are looking into our source code.
  Feel free to explore the page, and if you have any questions or
  ideas for improvements, please let us know.
  -->

  <!-- Meta information -->
  <meta charset="utf-8">
  <meta name="author" content="Lasse Legaard, Jonas Techen">
  <meta name="application-name" content="AU skema generator">
  <meta name="description" content="Skemagenerator til
                                    ST-studerende på
                                    Aarhus Universitet">
  <meta name="keywords" content="Aarhus, Universitet, AU,
                                 skema, uniskema, generator,
                                 Science, Technology, ST">



  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

  <title>AU Skemageneratoren</title>

  <!-- FAVICON -->
  <link rel="icon" href="assets/img/favicon.png" type="image/png">

  <!-- CSS -->
  <link rel="stylesheet" href="/build/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Javascript (from commercial sites) -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
</head>
<body ng-app="schedule" ng-controller="MainCtrl">

  <header>
    <filter></filter>
  </header>

  <div id="sidebar">

    <div id="logo"></div>
    <student-input></student-input>

    <footer ng-controller="InfoCtrl">

	  <div>
		  <a href="{{issueTracker}}" target="_blank"></a><br/>
		  <a href="{{issueTracker}}" target="_blank">Rapporter problem</a>
	  </div>

	  <div>
	      Data fra <a href="{{scrapingUrl}}" target="_blank">timetable.scitech.au.dk</a> anvendes. Uniskema er udviklet af
        <a href="{{legaard.linkedIn}}" target="_blank">Lasse Legaard</a> og <a href="{{techen.linkedIn}}" target="_blank">Jonas Techen</a>.
	  </div>

    </footer>
  </div>

  <!-- All the views are rendered into this element -->
  <main ng-view></main>

  <!-- Javascript (created by the developer) -->
  <script src="/build/app.min.js"></script>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-82829652-1', 'auto');
    ga('send', 'pageview');
  </script>

</body>
</html>
