/*---------- RESET STYLES ----------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    outline: none;
    list-style-type: none;
}

/*---------- FONTS ----------*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*---------- COLORS ----------*/

@zHeader: 7;
@zSidebar: 3;
@zCourse: 2;
@zHoverCourse: 6;
@zInitialsPoll: 4;
@zHoverInitialsPool: 6;

@red: #ca4e4e;
@green: #61a074;
@blue: #478ebf;
@yellow: #df9908;
@purple: #ba5396;
@orange: #efac2a;
@turquoise: #34c1c6;
@magenta: #c6366c;
@brown: #9f7c57;
@lime: #92bf27;

@border: #dfe4e4;

@red10: lighten(@red, 10%);
@red20: lighten(@red, 20%);
@green10: lighten(@green, 10%);
@green20: lighten(@green, 20%);
@blue10: lighten(@blue, 10%);
@blue20: lighten(@blue, 20%);
@yellow10: lighten(@yellow, 10%);
@yellow20: lighten(@yellow, 20%);
@purple10: lighten(@purple, 10%);
@purple20: lighten(@purple, 20%);
@orange10: lighten(@orange, 10%);
@orange20: lighten(@orange, 20%);
@turquoise10: lighten(@turquoise, 10%);
@turquoise20: lighten(@turquoise, 20%);
@magenta10: lighten(@magenta, 10%);
@magenta20: lighten(@magenta, 20%);
@brown10: lighten(@brown, 10%);
@brown20: lighten(@brown, 20%);
@lime10: lighten(@lime, 10%);
@lime20: lighten(@lime, 20%);

.red {background: @red}
.green {background: @green;}
.blue {background: @blue;}
.yellow {background: @yellow;}
.purple {background: @purple;}
.orange {background: @orange;}
.turquoise {background: @turquoise;}
.magenta {background: @magenta;}
.brown {background: @brown;}
.lime {background: @lime;}

.initialsPoll.red{background: @red20; opacity: 0.99;}
.initialsPoll.green{background: @green20; opacity: 0.99;}
.initialsPoll.blue{background: @blue20;	opacity: 0.99;}
.initialsPoll.yellow{background: @yellow20; opacity: 0.99;}
.initialsPoll.purple{background: @purple20; opacity: 0.99;}
.initialsPoll.orange{background: @orange20; opacity: 0.99;}
.initialsPoll.turquoise{background: @turquoise20; opacity: 0.99;}
.initialsPoll.purple{background: @purple20; opacity: 0.99;}
.initialsPoll.magenta{background: @magenta20; opacity: 0.99;}
.initialsPoll.brown{background: @brown20; opacity: 0.99;}
.initialsPoll.lime{background: @lime20; opacity: 0.99;}

.description.red{background: @red10;}
.description.green{background: @green10;}
.description.blue{background: @blue10;}
.description.yellow{background: @yellow10;}
.description.purple{background: @purple10;}
.description.orange{background: @orange10;}
.description.turquoise{background: @turquoise10;}
.description.magenta{background: @magenta10;}
.description.brown{background: @brown10;}
.description.lime{background: @lime10;}

.description.red ul li:nth-child(n+3) {color: darken(@red, 20%); a {color: darken(@red, 20%);}}
.description.green ul li:nth-child(n+3) {color: darken(@green, 20%); a {color: darken(@green, 20%);}}
.description.blue ul li:nth-child(n+3) {color: darken(@blue, 20%); a {color: darken(@blue, 20%);}}
.description.yellow ul li:nth-child(n+3) {color: darken(@yellow, 20%); a {color: darken(@yellow, 20%);}}
.description.purple ul li:nth-child(n+3) {color: darken(@purple, 20%); a {color: darken(@purple, 20%);}}
.description.orange ul li:nth-child(n+3) {color: darken(@orange, 20%); a {color: darken(@orange, 20%);}}
.description.turquoise ul li:nth-child(n+3) {color: darken(@turquoise, 20%); a {color: darken(@turquoise, 20%);}}
.description.magenta ul li:nth-child(n+3) {color: darken(@magenta, 20%); a {color: darken(@magenta, 20%);}}
.description.brown ul li:nth-child(n+3) {color: darken(@brown, 20%); a {color: darken(@brown, 20%);}}
.description.lime ul li:nth-child(n+3) {color: darken(@lime, 20%); a {color: darken(@lime, 20%);}}


.course.red:hover {outline: 3px solid @red;}
.course.green:hover {outline: 3px solid @green;}
.course.blue:hover {outline: 3px solid @blue;}
.course.yellow:hover {outline: 3px solid @yellow;}
.course.purple:hover {outline: 3px solid @purple;}
.course.orange:hover {outline: 3px solid @orange;}
.course.turquoise:hover {outline: 3px solid @turquoise;}
.course.magenta:hover {outline: 3px solid @magenta;}
.course.brown:hover {outline: 3px solid @brown;}
.course.lime:hover {outline: 3px solid @lime;}


/*---------- VALUES ----------*/

@filterHeight: 100px;
@navigationWidth: 250px;

@timetableWidth: 60px;
@columnCount: 5;

@rowUnit: 60px;
@rowCount: 11;

@courseCount: 4;
@courseWidth: 30px;
@courseSpaceBetween: 4px;
@coursetableMaxWidthFactor: 2;

@scheduleWidth: (((@courseWidth + @courseSpaceBetween) * @courseCount) * @columnCount) + @timetableWidth;
@scheduleWidthMax: ((@courseWidth * @courseCount) * @columnCount) * @coursetableMaxWidthFactor;

/*---------- MIXINS ----------*/

.borderBox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.rounded (@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.translate (@distance) {
	-webkit-transform: translate(@distance);
	-ms-transform: translate(@distance);
	transform: translate(@distance);
}

.scale (@facter) {
	-webkit-transform: scale(@facter);
	-ms-transform: scale(@facter);
	transform: scale(@facter);
}

.appearanceNone {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.courseLeft(@factorA, @facterB) {
	 margin-left: ((@courseSpaceBetween * @factorA) + (@courseWidth * @facterB));
}

.courseHeight(@facter) {
	height: ((@rowUnit * @facter) - (@courseSpaceBetween*2));
}

.courseTop(@facter) {
	margin-top: (@rowUnit * @facter) + 4px;
}

.descriptionHeight(@facter) {
	min-height: ((@rowUnit * @facter) - (@courseSpaceBetween*2));
}

/*---------- BODY ----------*/

body {
	font-family: 'Montserrat', 'Open Sans';
	background: #F7F7F7;
	.appearanceNone;
}

/*---------- HEADER ----------*/

header {
	position: fixed;
	top: 0;
	right: @navigationWidth;
	left: 0;
	height: @filterHeight;
	background: #FFFFFF;
	border-bottom: 1px solid #dfe4e4;
	.borderBox;
	z-index: @zHeader;

	#filter {
		margin: 25px;
		font-size: 14px;

		h3:first-child {
			cursor: pointer;
			margin-right: 25px;
			.rounded(4px 4px 4px 4px);
			background: @red;
			cursor: pointer;
			&:hover {
				background: lighten(@red, 3%);
			}
		}

		h3 {
			float: left;
			background: #243343;
			height: 50px;
			line-height: 50px;
			padding: 0 25px;
			color: #FFFFFF;
			text-transform: uppercase;
			width: auto;
			.rounded(4px 0 0 4px);
		}

		span {
			display: block;
			overflow: hidden;
		}

		input {
			padding-left: 15px;
			height: 50px;
			background: #f7f7f7;
			width: 100%;
			font-size: 13px;
			.appearanceNone;
			.rounded(0 4px 4px 0);
		}
	}
}

/*---------- NAVIGATION ----------*/

#sidebar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	min-height: 775px;
	width: @navigationWidth;
	background: #243343;
	text-align: center;
	.borderBox;
	z-index: @zSidebar;

	#logo {
		background-image: url(../assets/img/logo.svg);
		background-color: #1d2936;
		background-size: 65%;
		background-position: center center;
		background-repeat: no-repeat;
		height: @filterHeight;
		width: 100%;
	}

	h3 {
		display: none;
	}

	input[type=text] {
		width: 80%;
		margin-top: 50px;
		height: 50px;
		padding-left: 15px;
		font-size: 13px;
		.rounded(4px);
		.borderBox;
	}

	button {
		width: 80%;
		margin: 5px 0 0px 0;
		background: @red;
		height: 50px;
		text-transform: uppercase;
		font-size: 15px;
		color: #FFF;
		cursor: pointer;
		.rounded(4px);
		&:hover {
			background: lighten(@red, 3%);
		}
	}

	#feedback {
		margin: 0 auto;
		width: 80%;
		height: 50px;
		padding-top: 14px;
		text-transform: uppercase;
		font-size: 11px;
		color: #FFF;
		.borderBox;
	}

	.students {
		margin: 0 auto 5px auto;
		line-height: 30px;
		background: #3f4c5a;
		height: 30px;
		width: 80%;


		.remove {
			display: none;
			cursor: pointer;
		}

		.remove.toggleInactive {
			display: none;
			cursor: pointer;
			background: #536170;
		}

		.nav-initials {
			color: #fff;
			font-weight: 700;
			font-size: 12px;
		}

		.nav-initials.toggleInactive {
			background: #536170;
		}

		span.toggleInactive {
			opacity: 0.5;
		}


		div {
			height: 30px;
			width: 30px;
			float: left;
		}

		span {
			text-align: left;
			padding-left: 10px;
			display: block;
			color: #FFFFFF;
			text-transform: uppercase;
			font-size: 12px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			float: left;
			width: 60%;
		}

		i {
			color: #FFFFFF;
		}

		.toggle {
			margin: 9px 8px 0px 0px;
			float: right;
			background: #25303d;
			width: 30px;
			height: 12px;
			.rounded(10px);
			cursor: pointer;

			div {
				height: 12px;
				width: 12px;
				background: #FFFFFF;
				.rounded(10px);
			}
		}

		.toggleActive {
			background: #5e6974;

			div {
				.translate(18px);
			}
		}
	}

	.students:hover .remove  {
		display: block;
	}

	.students:hover .nav-initials  {
		display: none;
	}


	footer {
		position: absolute;
		bottom: 0px;
		width: 100%;
		background: #1d2936;

		a {
			text-decoration: none;
			text-transform: uppercase;
			font-size: 12px;
		}

		div:first-child {
			width: 100%;
			background: #243343;
			text-align: center;
			padding-bottom: 25px;

			a {
				display: inline;
				color: #878f97;
				border-radius: 0;
				background: none;

				&:first-child {
					display: inline-block;
					border-radius: 50%;
					background: #878f97;
					height: 40px;
					width: 40px;
					background-image: url(../assets/img/feedback.svg);
					background-position: center center;
					background-repeat: no-repeat;
					background-size: 45%;

				}
			}
		}

		div:last-child {
			font-size: 10px;
			padding: 10px;
			text-align: justify;
			color: darken(#878f97, 20%);

			a {
				color: darken(#878f97, 10%);
				text-decoration: none;
				font-size: 9px;
				font-weight: 700;
				&:hover {
					color: #878f97;
				}
			}
		}
	}
}

/*---------- SCHEDULE ----------*/

main {

	.course {
		position: absolute;
		min-width: 30px;
		width: auto !important;
		background: none !important;
		border: 0 !important;
		z-index: @zCourse;

		&:hover {
			z-index: @zHoverCourse !important;
		}
	}

	margin: (@filterHeight + 50) @navigationWidth 0 0;

	.schedule {
		margin: 0 auto 50px auto;
		padding: 0 25px 0 25px;
		max-width: @scheduleWidthMax;
		min-width: @scheduleWidth;

		.timeTable{
			width: @timetableWidth;
			margin-top: 50px;
			float:left;

			div {
				text-align: center;
				height: @rowUnit;
				font-size: 13px;
				padding-top: 14px;
				color: #a7acac;
				border-left: 1px solid #dfe4e4;
				border-right: 1px solid #dfe4e4;
				border-bottom: 1px solid #dfe4e4;

				.borderBox;

				&:first-child {
					border-top: 1px solid #dfe4e4;
				}
			}
		}

		.currentWeek {
			color: @red;
			text-decoration: underline;
		}

		.courseTable {
			position: static;
			overflow: hidden;
			background: #FFFFFF;

			.currentDay {
				color: @red;
			}

			.columns
				div {
					height: @rowCount * @rowUnit;
					float: left;
					border-right: 1px solid #dfe4e4;
					width: 20%;
					.borderBox;

						.initialsPoll {
							float: left;
							height: 100%;
							width: 30px;
							border: 0px;
							z-index: @zInitialsPoll;
							margin: 0px !important;
							padding: 0px !important;

							.initials {
								border: 0;
								text-align: center;
								font-size: 13px;
								color: #FFF;
								line-height: 30px;
								width: @courseWidth;
								height: 30px;
							}
						}

						.height0{.descriptionHeight(0);}
						.height1{.descriptionHeight(1);}
						.height2{.descriptionHeight(2);}
						.height3{.descriptionHeight(3);}
						.height4{.descriptionHeight(4);}
						.height5{.descriptionHeight(5);}
						.height6{.descriptionHeight(6);}
						.height7{.descriptionHeight(7);}
						.height8{.descriptionHeight(8);}
						.height9{.descriptionHeight(9);}
						.height10{.descriptionHeight(10);}
						.height11{.descriptionHeight(11);}

						.description {
							float: left;
							height: auto;
							width: ((@courseWidth + @courseSpaceBetween) * (@courseCount - 1));
							display: none;
							border-right: 0px !important;
							margin: 0px !important;
							padding: 0px !important;

							ul {
								width: ((@courseWidth + @courseSpaceBetween) * (@courseCount - 1));
								padding-left: 3px;
								font-size: 10px;
								font-weight: 400;
								.borderBox;
								line-height: 1em;

								li {
									padding-top: 3px;
									padding-right: 2px;
									display: block;
									word-wrap: break-word;
								}

								li:nth-child(1) {
									font-weight: 700;
								}
							}
						}



					.initialsPoll:hover + .description {
						display: block;
            overflow-x: hidden;
						z-index: @zHoverInitialsPool;
					}

					.course.open {
						width: ((@courseWidth + @courseSpaceBetween) * (@courseCount - 1));

						.description {
							display: block;
              overflow-x: hidden;
						}

						.description.height1 ul li:last-child {
							display: none;
						}
					}

					.open.left0 {.courseLeft(1,0);}
					.open.left1 {.courseLeft(1,1); z-index: 2;}

					.left0{.courseLeft(1,0);}
					.left1{.courseLeft(2,1);}
					.left2{.courseLeft(3,2);}
					.left3{.courseLeft(4,3);}

					.height0{.courseHeight(0);}
					.height1{.courseHeight(1);}
					.height2{.courseHeight(2);}
					.height3{.courseHeight(3);}
					.height4{.courseHeight(4);}
					.height5{.courseHeight(5);}
					.height6{.courseHeight(6);}
					.height7{.courseHeight(7);}
					.height8{.courseHeight(8);}
					.height9{.courseHeight(9);}
					.height10{.courseHeight(10);}
					.height11{.courseHeight(11);}

					.top8{.courseTop(0);}
					.top9{.courseTop(1);}
					.top10{.courseTop(2);}
					.top11{.courseTop(3);}
					.top12{.courseTop(4);}
					.top13{.courseTop(5);}
					.top14{.courseTop(6);}
					.top15{.courseTop(7);}
					.top16{.courseTop(8);}
					.top17{.courseTop(9);}
					.top18{.courseTop(10);}
					.top19{.courseTop(11);}
					.top20{.courseTop(12);}
					}

					.rows {
					position: relative;
					height: 50px;
					width: 100%;

					div {
						width: 100%;
						height: @rowUnit;
						border-bottom: 1px solid #dfe4e4;
						.borderBox;

					&:first-child {
						border-top: 1px solid #dfe4e4;
					}

				}
			}
		}

		h3 {
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 50px;
			padding-left: 50px;
			color: #a7acac;
		}

		.days {
			height: 50px;
			width: 100%;
			background: #f7f7f7;

			.headline {
				float: left;
				width: 20%;
				text-align: center;
				line-height: 50px;
				text-transform: uppercase;
				font-size: 14px;
			}
		}
	}
}

#tutorial {
	div {
		margin: 0 auto;
		text-align: center;
		width: 100%;
		line-height: 20px;
		font-size: 14px;
		color: grey;

		p:first-child {
			color: black;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 25px;
			padding-bottom: 15px;
		}
	}
}

/*---------- MEDIA QUERIES ----------*/

@media (max-width: 1123px) {
	.schedule {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

@media (max-width: 1075px) {
	header {
		width: @scheduleWidth;
	}

	#tutorial {
		width: @scheduleWidth;
	}

	#sidebar {
		left: @scheduleWidth;
	}

	main {
		position: absolute;
	}
}
