<section id="filter" class="nav-section">
  <h3 ng-click="goToCurrentWeek()">uge {{currentWeek}}</h3>
  <h3>Filter</h3>
  <span><input type="search" name="filter" placeholder="Filtrer indhold" ng-model="filter"/></span>
</section>
