<section class="column">
  <h4>{{day}}</h4>
  <div ng-repeat="course in courses | filter: filter" class="column-item">
    <h5>{{course.courseName}}</h5>
    <a href="{{course.location.link}}">{{course.location.information}}</a>
  </div>
</section>
