<section id="student-id" class="nav-section">
  <h3>Studerende</h3>
  <input type="text"
         autocomplete="on"
         autofocus="true"
         placeholder="Indtast studienummer"
         ng-keypress="enterKey($event)"
         ng-model="studentId"/>
  <button type="button"
          name="student"
          ng-click="addStudent(studentId)">Tilføj studerende</button>

  <feedback></feedback>

  <div ng-repeat="student in students" class="students">

		<div class="{{student.color.name}}" title="Studienummer: {{student.id}}">
			<div class="nav-initials" ng-class="{toggleInactive: !student.checked}"><p>{{student.initials}}</p></div>
            <div class="remove" ng-click="removeStudent(student.id)" ng-class="{toggleInactive: !student.checked}"><i class="fa fa-times"></i></div>
		</div>

	    <span ng-class="{toggleInactive: !student.checked}">{{student.name}}</span>

		<div class="toggle" ng-click="setChecked(!student.checked)" ng-class="{toggleActive: student.checked}">
		    <div></div>
	    </div>
	</div>
</section>
