<section id="{{'uge' + week.weekNumber}}" ng-if="weeks.length > 0"  ng-repeat="week in weeks" class="schedule">

  <h3 ng-class="{currentWeek: isCurrentWeek(week.weekNumber)}">{{'Uge ' + week.weekNumber}}</h3>

  <div class="timeTable">
    <div>08.00 09:00</div>
    <div>09.00 10.00</div>
    <div>10.00 11.00</div>
    <div>11.00 12.00</div>
    <div>12.00 13.00</div>
    <div>13.00 14.00</div>
    <div>14.00 15.00</div>
    <div>15.00 16.00</div>
    <div>16.00 17.00</div>
    <div>17.00 18.00</div>
    <div>18.00 19.00</div>
  </div>

  <div class="courseTable">
    <div class="days">
      <h4 ng-class="{currentDay: isCurrentDay('monday', week.weekNumber)}" class="headline">Mandag</h4>
      <h4 ng-class="{currentDay: isCurrentDay('tuesday', week.weekNumber)}" class="headline">Tirsdag</h4>
      <h4 ng-class="{currentDay: isCurrentDay('wednesday', week.weekNumber)}" class="headline">Onsdag</h4>
      <h4 ng-class="{currentDay: isCurrentDay('thursday', week.weekNumber)}" class="headline">Torsdag</h4>
      <h4 ng-class="{currentDay: isCurrentDay('friday', week.weekNumber)}" class="headline">Fredag</h4>
    </div>

    <div class="columns">
      <div>
        <div ng-repeat="course in week.monday | filter: filterValue" ng-class="{open: shouldBeOpen}"
              class="course {{getCourseColor(course.studentId)}} {{'top' + course.startTime}} {{'height' + course.timeLength}} {{'left' + ($index % studentsChecked)}}">

          <div ng-class="{shrink: numberOfCheckedStudents() > 4}" class="initialsPoll {{getCourseColor(course.studentId)}}">
            <div class="initials {{getCourseColor(course.studentId)}}">{{course.studentInitials}}</div>
          </div>

          <div class="description {{getCourseColor(course.studentId)}} {{'height' + course.timeLength}}">
            <ul>
              <li>{{course.courseName}}</li>
              <li>{{course.type}}</li>
              <li ng-if="course.location.information && course.location.link">
                <a target="_blank" href="{{course.location.link}}">{{course.location.information}}</a>
              </li>
              <li ng-if="course.location.information && !course.location.link">
                {{course.location.information}}
              </li>
              <li ng-if="!course.location.information && !course.location.link">
                {{course.note}}
              </li>
              <li>Kl. {{course.time}}</li>
            </ul>
          </div>

        </div>
      </div>

      <div>
        <div ng-repeat="course in week.tuesday | filter: filterValue" ng-class="{open: shouldBeOpen}"
              class="course {{getCourseColor(course.studentId)}} {{'top' + course.startTime}} {{'height' + course.timeLength}} {{'left' + ($index % studentsChecked)}}">

          <div ng-class="{shrink: numberOfCheckedStudents() > 4}" class="initialsPoll {{getCourseColor(course.studentId)}}">
            <div class="initials {{getCourseColor(course.studentId)}}">{{course.studentInitials}}</div>
          </div>

          <div class="description {{getCourseColor(course.studentId)}} {{'height' + course.timeLength}}">
            <ul>
              <li>{{course.courseName}}</li>
              <li>{{course.type}}</li>
              <li ng-if="course.location.information && course.location.link">
                <a target="_blank" href="{{course.location.link}}">{{course.location.information}}</a>
              </li>
              <li ng-if="course.location.information && !course.location.link">
                {{course.location.information}}
              </li>
              <li ng-if="!course.location.information && !course.location.link">
                {{course.note}}
              </li>
              <li>Kl. {{course.time}}</li>
            </ul>
          </div>

        </div>
      </div>

      <div>
        <div ng-repeat="course in week.wednesday | filter: filterValue" ng-class="{open: shouldBeOpen}"
              class="course {{getCourseColor(course.studentId)}} {{'top' + course.startTime}} {{'height' + course.timeLength}} {{'left' + ($index % studentsChecked)}}">

          <div ng-class="{shrink: numberOfCheckedStudents() > 4}" class="initialsPoll {{getCourseColor(course.studentId)}}">
            <div class="initials {{getCourseColor(course.studentId)}}">{{course.studentInitials}}</div>
          </div>

          <div class="description {{getCourseColor(course.studentId)}} {{'height' + course.timeLength}}">
            <ul>
              <li>{{course.courseName}}</li>
              <li>{{course.type}}</li>
              <li ng-if="course.location.information && course.location.link">
                <a target="_blank" href="{{course.location.link}}">{{course.location.information}}</a>
              </li>
              <li ng-if="course.location.information && !course.location.link">
                {{course.location.information}}
              </li>
              <li ng-if="!course.location.information && !course.location.link">
                {{course.note}}
              </li>
              <li>Kl. {{course.time}}</li>
            </ul>
          </div>

        </div>
      </div>

      <div>
        <div ng-repeat="course in week.thursday | filter: filterValue" ng-class="{open: shouldBeOpen}"
              class="course {{getCourseColor(course.studentId)}} {{'top' + course.startTime}} {{'height' + course.timeLength}} {{'left' + ($index % studentsChecked)}}">

          <div ng-class="{shrink: numberOfCheckedStudents() > 4}" class="initialsPoll {{getCourseColor(course.studentId)}}">
            <div class="initials {{getCourseColor(course.studentId)}}">{{course.studentInitials}}</div>
          </div>

          <div class="description {{getCourseColor(course.studentId)}} {{'height' + course.timeLength}}">
            <ul>
              <li>{{course.courseName}}</li>
              <li>{{course.type}}</li>
              <li ng-if="course.location.information && course.location.link">
                <a target="_blank" href="{{course.location.link}}">{{course.location.information}}</a>
              </li>
              <li ng-if="course.location.information && !course.location.link">
                {{course.location.information}}
              </li>
              <li ng-if="!course.location.information && !course.location.link">
                {{course.note}}
              </li>
              <li>Kl. {{course.time}}</li>
            </ul>
          </div>

        </div>
      </div>

      <div>
        <div ng-repeat="course in week.friday | filter: filterValue" ng-class="{open: shouldBeOpen}"
              class="course {{getCourseColor(course.studentId)}} {{'top' + course.startTime}} {{'height' + course.timeLength}} {{'left' + ($index % studentsChecked)}}">

          <div ng-class="{shrink: numberOfCheckedStudents() > 4}" class="initialsPoll {{getCourseColor(course.studentId)}}">
            <div class="initials {{getCourseColor(course.studentId)}}">{{course.studentInitials}}</div>
          </div>

          <div class="description {{getCourseColor(course.studentId)}} {{'height' + course.timeLength}}">
            <ul>
              <li>{{course.courseName}}</li>
              <li>{{course.type}}</li>
              <li ng-if="course.location.information && course.location.link">
                <a target="_blank" href="{{course.location.link}}">{{course.location.information}}</a>
              </li>
              <li ng-if="course.location.information && !course.location.link">
                {{course.location.information}}
              </li>
              <li ng-if="!course.location.information && !course.location.link">
                {{course.note}}
              </li>
              <li>Kl. {{course.time}}</li>
            </ul>
          </div>

        </div>
      </div>

    </div>

    <div class="rows">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</section>

<section id="tutorial" ng-if="weeks.length == 0">
  <div>
    <p>Ingen skemaer at vise</p>
    <p>Se dit skema. Sammenlign flere studerendes skemaer.</p>
    <p>Prøv f.eks. med "{{getTestPersonId()}}" og dit eget studienummer.</p>
  </div>
</section>
